*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-light: #b6defa;
	--bg-clr: rgba(0, 0, 0, 0.5);
	--clr-txt: rgba(255, 255, 255, 1);
}

h2,
p {
	color: var(--clr-txt);
}

.hidden {
	display: none;
}

.logo {
	height: 10vh;
	background-color: var(--clr-light);
}

.panel-title {
	grid-area: title;
	text-align: center;
}

.panel-desc {
	grid-area: desc;
	padding-left: 2em;
	padding-right: 2em;
}

.panel-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panel-item {
	display: grid;
	background-color: var(--bg-clr);
	background-blend-mode: multiply;

	/*Alignment properties*/
	width: calc(100%/3);
	height: 90vh;
	grid-template-areas: "title" "desc" "img";
	grid-template-columns: 100%;

	justify-items: center;
	overflow: hidden;
}

.panel-img {
	min-width: 105%;
	grid-area: img;
	grid-row: 1/3;
	z-index: -1;
	height: 110%;
	filter: blur(5px);
}
