/*Fonts*/
.panel-title {
	color: var(--clr-txt);
	font-family: var(--fnt-ttl);
	font-weight: var(--ttl-wgt);
	font-size: 4em;
	text-align: center;
	text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
}

.panel-desc {
	color: var(--clr-txt);
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	font-size: 1.5em;
}

.panel-click {
	font-family: var(--fnt-txt);
	color: var(--clr-txt);
	font-size: 1.5em;

	text-decoration: underline;
}

/*Design*/

.panel-item {
	background: linear-gradient(90deg, rgba(20, 20, 20, 1) 20%, var(--bg-clr) 100%);
}

/*Setups*/

.logo {
	position: absolute;
	height: 12vh;
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 1) 50%);
}

.logo > img {
	margin-top: 2.5vh;
	margin-left: 2.5vh;
	width: 15%;
	max-width: 150px;
}

.panel-container {
	width: 100vw;
	display: flex;
	align-items: center;

	flex-direction: row;
	justify-content: space-between;
}

.panel-item {
	background: none;

	background-color: var(--bg-clr);
	/*Flex properties*/
	flex-basis: min-content;

	flex-grow: 1;
	flex-shrink: 1;

	/*Grid for childs*/
	display: grid;
	width: 100%;
	height: 100vh;
	justify-items: center;
	align-items: center;

	column-gap: 0;
	row-gap: 0;

	grid-template-areas: "txt" "desc" "click" "img";
	grid-template-columns: 100%;
	grid-template-rows: 50% auto auto;

	overflow: hidden;
	transition: flex-grow 250ms, grid-template-rows 250ms;
}

.panel-title {
	grid-area: txt;

	align-self: end;
	justify-self: center;
	margin: 0;
	padding: 0;

	transition: padding 250ms;
}

.panel-desc {
	grid-area: desc;
	justify-self: center;
	align-self: start;

	width: 20vw;

	opacity: 0;
	transition: opacity 250ms;
}

.panel-img {
	grid-area: img;
	grid-column: 1/2;
	grid-row: 1/4;

	margin-top: -5%;
	min-width: 105%;
	height: 110%;
	width: auto;
	z-index: -1;

	filter: blur(5px);
	transition: filter 250ms;
}

.panel-click {
	grid-area: click;

	opacity: 0;
	align-self: end;
	padding: 0;

	margin-top: 0;
	margin-bottom: 10%;

	grid-column: 1/2;
	transition: opacity 250ms;
}

/*Animations*/

.panel-item:hover {
	flex-grow: 1.25;
	grid-template-rows: 45% auto auto;
}

.panel-item:hover .panel-desc {
	opacity: 1;
}

.panel-item:hover .panel-click {
	opacity: 0.7;
}

.panel-item:hover .panel-img {
	filter: blur(15px);
}

@media (max-width: 800px) {
	.panel-container {
		flex-direction: column;
	}

	.panel-item {
		/*Grid for childs*/
		height: 25vh;
		justify-items: center;
		align-items: center;

		grid-template-areas: "txt desc click img";
		grid-template-columns: 100%;
		grid-template-rows: 50% auto auto;
	}

	.panel-img {
		grid-area: img;
		grid-column: 1/5;
		grid-row: 1/2;

		margin-top: -5%;
		min-width: 105%;
		width: 105%;
		height: auto;
		z-index: -1;
	}
}
