/*Fonts*/
.panel-title {
	color: var(--clr-txt);
	font-family: var(--fnt-ttl);
	font-weight: var(--ttl-wgt);
	font-size: 2em;
	text-align: center;
	text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
}

.panel-desc {
	color: var(--clr-txt);
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	font-size: 1em;
}

.panel-click {
	font-family: var(--fnt-txt);
	color: var(--clr-txt);
	font-size: 1.25em;

	text-decoration: underline;
}

@media (min-width: 1200px) {
	.panel-title {
		font-size: 4em;
	}
	.panel-desc {
		font-size: 1.5em;
	}
	.panel-click {
		font-size: 1.5em;
	}
}

/*Design*/

.panel-item {
	background: linear-gradient(90deg, rgba(20, 20, 20, 1) 20%, var(--bg-clr) 100%);
}

/*Setups*/

.logo {
	position: absolute;
	height: 12vh;
	width: 100%;
}

.logo > img {
	margin-top: 1.5vh;
	margin-left: 1.5vh;
	width: 15%;
}

.panel-container {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.panel-item {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25vh;

	display: grid;
	width: 100%;

	grid-template-areas: "txt desc" "img click";
	grid-template-columns: 40% auto;
	grid-template-rows: 90% auto;

	justify-items: center;
	align-items: center;

	column-gap: 0;
	row-gap: 0;

	overflow: hidden;
}

.panel-title {
	grid-area: txt;

	align-self: center;
	justify-self: center;
	margin: 0;
	padding: 0;
}

.panel-desc {
	grid-area: desc;

	width: 90%;
	align-self: center;
}

.panel-img {
	grid-area: img;

	grid-column: 1/3;
	grid-row: 1/3;

	margin-top: -5%;
	width: 105%;
	z-index: -1;

	filter: blur(5px);
}

.panel-click {
	grid-area: click;
	align-self: start;
	margin-top: -7%;
	padding: 0;
	opacity: 0.7;
}

@media (min-width: 800px) {
	.logo {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 1) 50%);
	}

	.logo > img {
		margin-top: 2.5vh;
		margin-left: 2.5vh;
		width: 15%;
		max-width: 150px;
	}

	.panel-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.panel-item {
		background: none;

		background-color: var(--bg-clr);
		/*Flex properties*/
		flex-basis: min-content;

		flex-grow: 1;
		flex-shrink: 1;

		/*Grid for childs*/
		display: grid;
		width: 100%;
		height: 100vh;

		grid-template-areas: "txt" "desc" "click" "img";
		grid-template-columns: 100%;
		grid-template-rows: 50% auto auto;

		transition: flex-grow 250ms, grid-template-rows 250ms;
	}

	.panel-title {
		justify-self: center;
		align-self: end;

		transition: padding 250ms;
	}

	.panel-desc {
		justify-self: center;
		align-self: start;

		width: 20vw;

		opacity: 0;
		transition: opacity 250ms;
	}

	.panel-img {
		grid-column: 1/2;
		grid-row: 1/4;

		min-width: 105%;
		height: 110%;
		width: auto;

		transition: filter 250ms;
	}

	.panel-click {
		opacity: 0;
		align-self: end;

		margin-top: 0;
		margin-bottom: 10%;

		grid-column: 1/2;
		transition: opacity 250ms;
	}

	/*Animations*/

	.panel-item:hover {
		flex-grow: 1.25;
		grid-template-rows: 45% auto auto;
	}

	.panel-item:hover .panel-desc {
		opacity: 1;
	}

	.panel-item:hover .panel-click {
		opacity: 0.7;
	}

	.panel-item:hover .panel-img {
		filter: blur(15px);
	}
}
