#proj-header {
	height: 50vh;
}

.proj-list {
	height: 50vh;
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	color: var(--clr-txt);

	justify-content: center;
	align-items: center;
	display: flex;
	padding: 3rem;

	overflow-y: auto;
}

.proj {
	display: flex;
	position: relative;
	flex-direction: column;

	height: 350px;
	width: 400px;
	min-width: 250px;
	padding: 1.5rem;

	border-radius: 16px;
	background-color: rgb(37, 37, 37);
	box-shadow: -1rem 0.5rem 3rem #000;

	transition: .2s;
}

.proj:hover {
	transform: translateY(-1rem);
}

.proj:hover ~ .proj {
	transform: translateX(130px);
}

.proj:not(:first-child) {
	margin-left: -130px;
}
