.info-body {
	background: url('../images/Liquid-Cheese.svg');
	background-size: cover;
	position: relative;
	z-index: -10;
}

#home-btn {
	position: fixed;
	background-color: white;
	margin: 1vw;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 50px;

	display: grid;
	grid-template-columns: 25% auto;
	align-items: center;
}

#home-btn:focus {
	outline: none;
}

#home-btn > i {
	justify-self: end;
	padding: 5px 6px;
	border-radius: 100%;
	color: var(--clr-txt);
	background-color: var(--bg-clr);
	height: 30px;
	width: 30px;
	font-size: 1.25em;
}

#home-btn > h2 {
	margin-left: 15px;
	justify-self: start;
	height: 100%;
	height: 100%;
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	color: var(--bg-drk);
	font-size: 2em;
}

header > h1 {
	overflow: hidden;

	font-family: var(--fnt-ttl);
	font-weight: var(--ttl-wgt);
	color: var(--bg-txt);
	font-size: 20em;

	position: absolute;
	z-index: -1;
	width: 100%;
	text-align: right;
	margin-top: 0;
	padding-right: 2%;
}

#intro-container {
	width: 100%;
	height: 50vh;
	padding: 12% 15% 0% 15%;
}

#intro-container > p {
	font-family: var(--fnt-txt);
	font-weight: var(--ttl-wgt);
	color: var(--clr-txt);
	font-size: 2em;
}

#intro-container > hr {
	height: 2%;
	border-style: solid;
	border-color: var(--clr-txt);
	border-width: 0.2em 0 0;

	margin-left: 5%;
	margin-top: 2%;
	width: 90%;
	color: var(--clr-txt);
}

#icons {
	margin: 0% 5%;
	height: 50vh;
}

#icon-holder {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.icon-btn {
	margin: 10px;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;

	outline: none;
	border: 0;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0);

	display: grid;
	grid-template-columns: 100% 0% 0%;
	grid-template-areas: "img des ic";
	grid-template-rows: 100%;
	transition: all 200ms;
}
.icon-btn:focus {
	outline: none;
}

.icon-btn > img {
	grid-area: img;
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
	border-radius: 100%;
}

.icon-txt {
	grid-column: 1/2;
	grid-row: 1/2;
	opacity: 0;
	font-family: var(--fnt-txt);
	font-weight: var(--ttl-wgt);
	color: var(--clr-txt);
	font-size: 3em;

	padding-top: 40%;
	text-align: center;
	align-self: center;
	justify-self: center;

	transition: opacity 200ms, padding 200ms;
}

.icon-btn > p {
	grid-area: des;
	display: none;
	text-align: left;
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	color: var(--clr-txt);
	font-size: 1.5em;

	transition: opacity 250ms;
}

.icon-btn > i {
	grid-area: ic;
	display: none;
	color: var(--clr-txt);
	font-size: 1.5em;
}

.icon-btn:hover {
	background-color: var(--bg-clr);

	flex-basis: 300px;
}

.clicked {
	background-color: black;
	z-index: 0;
	flex-basis: 1200px;
	grid-template-columns: 40% 50% 10%;
	background-color: black;

	padding: 15px;
	border-radius: 20px;
	align-items: center;
	justify-items: center;
	/* position: absolute;
	width: 40vw;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	justify-items: center;
	padding: 2vh 1vw; */
}

.clicked > p {
	justify-self: end;
	align-self: center;
	opacity: 1;
	display: block;
	margin-left: 15px;
}

.clicked > i {
	align-self: start;
	justify-self: end;
	display: block;
	font-size: 2em;
}

.clicked:hover {
	background-color: black;

	flex-basis: 1200px;
}

.icon-btn:hover .icon-txt {
	opacity: 1;
	padding-top: 0%;
}

.clicked:hover .icon-txt {
	opacity: 0;
}

@media (max-width: 1200px) {
	.clicked > i {
		font-size: 1.5em;
	}

	.clicked > p {
		font-size: 1em;
	}

	.icon-txt {
		font-size: 1.5em;
	}
}

footer {
	height: 30vh;
	background-color: var(--bg-clr);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	justify-items: center;
	align-items: center;
}

footer > img {
	margin-top: 3vh;
	width: 10%;
	min-width: 150px;
}

#social-list {
	list-style: none;
	display: flex;
	justify-items: center;
}
#social-list > li {
	margin: 0 .6em;
}

.social-link {
	font-size: 2em;
	color: var(--clr-txt);
	padding: 1em;
}
