body {
	background-color: var(--bg-drk);
}

#home-btn {
	position: fixed;
	margin: 1vw;
	width: 8vw;
	height: 4vh;
	border: none;
	border-radius: 50px;
}

#home-btn > img {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

#home-btn > h2 {
	height: 100%;
	height: 100%;
	display: inline-block;
	margin-left: 5%;
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	color: var(--bg-drk);
	font-size: 2em;
}

header > h1 {
	overflow: hidden;

	font-family: var(--fnt-ttl);
	font-weight: var(--ttl-wgt);
	color: var(--bg-txt);
	font-size: 20em;

	position: absolute;
	z-index: -1;
	width: 100%;
	text-align: right;
	margin-top: 0;
	padding-right: 2%;
}

#intro-container {
	width: 100%;
	height: 50vh;
	padding: 12% 15% 0% 15%;
}

#intro-container > p {
	font-family: var(--fnt-txt);
	font-weight: var(--ttl-wgt);
	color: var(--clr-txt);
	font-size: 2em;
}

#intro-container > hr {
	height: 2%;
	border-style: solid;
	border-color: var(--clr-txt);
	border-width: 0.2em 0 0;

	margin-left: 5%;
	margin-top: 2%;
	width: 90%;
	color: var(--clr-txt);
}

#icons {
	margin-top: 12.5vh;
	height: 25vh;
	margin-bottom: 12.5vh;
}

#icon-holder {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
}

.icon-btn {
	margin: 0 2%;
	display: inline-block;
	position: relative;
	border: 0;
	border-radius: 100%;
	background: none;

	width: 15%;

	transition: background-color 200ms, width 200ms;
}

.icon-btn > img {
	width: 100%;
	position: relative;
	z-index: -1;
	border-radius: 100%;
	display: block;
}

.icon-btn > h2 {
	opacity: 0;
	font-family: var(--fnt-txt);
	font-weight: var(--ttl-wgt);
	color: var(--clr-txt);
	font-size: 3em;

	position: absolute;
	text-align: center;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: opacity 200ms, top 200ms;
}

.icon-btn:hover {
	background-color: var(--bg-clr);
	width: 20%;
}

.icon-btn:hover .icon-txt {
	opacity: 1;
	top: 50%;
}

footer {
	height: 30vh;
	background-color: var(--bg-clr);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	justify-items: center;
	align-items: center;
}

footer > img {
	margin-top: 3vh;
	width: 10%;
	min-width: 150px;
}

#social-list {
	list-style: none;
	display: flex;
	justify-items: center;
}
#social-list > li {
	margin: 0 .6em;
}

.social-link {
	padding: 0.5em;
}
